menu "Application configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config WIFI_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the maximum number of retries to avoid station trying to reconnect to the AP forever when the AP is really inexistent.

    config SNTP_HOST
        string "SNTP HOST"
        default "pool.ntp.org"
        help
            URL of the SNTP server to connect to

    config NTP_SYNC_PERIOD_SECONDS
        int "NTP Sync period"
        default 86400
        help
            How frequently time should be sync'd with NTP server, in seconds

    config DEEP_SLEEP_PERIOD_SECONDS
        int "Time to deep sleep"
        default 60
        help
            How long to sleep between tasks

endmenu